# MongoDB connection
MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB="upi_payment_system"

# Admin credentials (for default setup)
ADMIN_EMAIL="admin@plannermarket.com"
ADMIN_PASSWORD="admin123"

# JWT Secret (use in production)
JWT_SECRET="b481083516ce11269d27fda6afbbd586"

# Email configuration (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=avikmasanta@gmail.com
SMTP_PASS=fduabxhyyomfiyna
SMTP_FROM="Daily Planner <avikmasanta@gmail.com>"


# Application URLs
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
